/*0px - 768px */

.draw-button {
  background-color:lightgray;
}

.draw-button-highlighted {
  background-color:red;
  color:white;
}

.draw-button:hover {
  background-color:rgb(109, 104, 104);
}

.draw-button-highlighted:hover {
  background-color:rgb(70, 29, 29);
  color:white;
}

.missing-piece-container {
  background-color: aliceblue;
  display: flex;
  flex-flow:row wrap;
  align-items:flex-start;
  justify-content:center;
  height:30%;
}

.missing-piece-container .chess-piece{
  max-width: 3rem;
  max-height: 3rem;
}

.column-container {
  display: flex;
  flex-flow:column nowrap;
}

.timecard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  
}

.black-team {
  background-color:#444444;
  color: white;
}

.white-team {
  background-color:#cccccc;
  color: black;
}


@media(min-width: 768px){

}

@media(min-width: 992px){

}

@media(min-width: 1200px){
  .chess-app{
    flex-flow:row wrap;
    height: 100vh;
    align-content:center;
    justify-content: center;
    align-items:center;
  }
  .side-container {
    display: flex;
    flex-flow:column nowrap;
    height: 800px;
  }
}

