.chatbox{
    display: flex;
    flex-flow:column nowrap;
    justify-content:flex-start;
}

.chatbox_header{
    display:flex;
    flex-flow:column nowrap;
    overflow-y: auto;
    background-color: #f1f1f0;
    margin:5px;
}

.chatbox_footer{
    width:100%;
    order:-1;
}

.chatbox_footer input{
    width:80%;
    order:-1;
}

.chatbox_message{

}

.chatbox_username{

}

.chatbox p {
    margin-top:4px;
    margin-bottom:0px;
    margin-left:4px;
    margin-right:4px;
    border-radius:4px;
}

.you{
    background-color:cadetblue;
}

.other{
    background-color:green;
}

@media(min-width: 768px){

}

@media(min-width: 992px){

}

@media(min-width: 1200px){
  .chatbox{
    justify-content: flex-end;
    height:100%;
    width: 300px;
  }

  .chatbox_header{
    display:flex;
    flex-flow:column-reverse nowrap;
    align-content:flex-start;
    height:100%;
  }
  
  .chatbox_footer{
    order: 0;
  }
 
}